<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bookcard">

                <div class="card-header">
                    BOOK DESCRIPTION
                </div>
                <div class="card-body">
                    <form [formGroup]="crudForm">
                        <div class="form-group">
                            <label for="titre">BOOK TITLE</label>
                            <input type="text" class="form-control" id="titre" placeholder="Enter a Book title"
                                formControlName="titre"
                                [ngClass]="{'is-invalid': crudForm.get('titre').touched && crudForm.get('titre').invalid}">
                            <div *ngIf="crudForm.get('titre').touched && crudForm.get('titre').invalid"
                                class="invalid-feedback">
                                <div *ngIf="crudForm.get('titre').errors.required">Name is required</div>
                                <div *ngIf="crudForm.get('titre').errors.minlength">Title must be 5 characters</div>
                            </div>

                        </div>
                        <!-- <div class="form-group">
                            <label for="description">BOOK DESCRIPTION</label>
                            <textarea class="form-control" id="description" rows="3" placeholder="Enter a description "
                                formControlName="description"
                                [ngClass]="{'is-invalid': crudForm.get('description').touched && crudForm.get('description').invalid}"></textarea>
                            <div *ngIf="crudForm.get('description').touched && crudForm.get('description').invalid"
                                class="invalid-feedback">
                                <div *ngIf="crudForm.get('description').errors.required">Description is required</div>
                                <div *ngIf="crudForm.get('description').errors.maxlength">20 characters max</div>
                            </div>
                        </div> -->

                        <ckeditor [editor]="Editor" formControlName="description"
                            [ngClass]="{'is-invalid': crudForm.get('description').touched && crudForm.get('description').invalid}">
                        </ckeditor>
                        <div *ngIf="crudForm.get('description').touched && crudForm.get('description').invalid"
                            class="invalid-feedback">
                            <div *ngIf="crudForm.get('description').errors.required">Description is required</div>
                            <div *ngIf="crudForm.get('description').errors.maxlength">20 characters max</div>
                        </div>

                        <div class="form-group">
                            <label for="titre">ETAT</label>
                            <input type="text" class="form-control" id="titre" formControlName="etat">


                        </div>


                        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="save()"
                            [disabled]="!crudForm.valid">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>